<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<title>Middleware for Smart Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/jpg" href="/images/logo.jpg" />
	<link rel="stylesheet" type="text/css" href="/css/login.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
</head>
<body style="background-image:url('./images/bg1.jpg');">
	<div id="loginHeading" class="row">
		<div style="margin:21px 0px;">Middleware for Smart Home</div>
	</div>
	<center><div id='failed' style="display:none;font-size:20px;color:#FFF;">Login Failed!</div></center>
	<center></center>
	<div id="logindiv" style="width:340px;margin-left:auto;margin-right:auto;">
		<a id='login' style="font-size:20px;color:#f1a1a1;text-decoration:none;cursor:pointer;">Customer Login</a>
		<a id='create' style="font-size:20px;color:#000;float:right;text-decoration:none;cursor:pointer;">Create User</a>
		<div id="username" style="width:100%;">
			<form id="logdiv">
			  	<div class="input_names row">Email: </div><input class="inputbox row ca" type="text" name="email" style="color:#000;" required autofocus><br>
			  	<div class="input_names row">Password: </div><input class="inputbox row cb" type="password" name="password" style="color:#000;" required><br>
			  	<input class="btn btn-default" id="loginSubmit" value="Submit" type="button" style="width:100%;margin:36px 0px 15px;padding:10px;background-color:#4aa7f6;border:none;">
			  <!-- <input class="submitbutton row" type="submit" value="Submit"> -->
			</form>
			<form id="creatediv" style="display:none;">
			  	<div class="input_names row">Email: </div><input class="inputbox row ca" type="text" name="email" style="color:#000;" required autofocus><br>
			  	<div class="input_names row">Password: </div><input class="inputbox row cb" type="password" name="password" style="color:#000;" required><br>
			  	<div class="input_names row">User Name: </div><input class="inputbox row cc" type="text" name="username" style="color:#000;" required><br>
				<div class="input_names row">Phone No: </div><input class="inputbox row cd" type="text" name="phoneno" style="color:#000;" required><br>
			  	<input class="btn btn-default" id="createSubmit" value="Submit" type="button" style="width:100%;margin:36px 0px 15px;padding:10px;background-color:#4aa7f6;border:none;">
			  <!-- <input class="submitbutton row" type="submit" value="Submit"> -->
			</form>
		</div>
	</div>
</body>
<script type="text/javascript">
	$("#login").click(function(){
		$("#logdiv").show();
		$("#creatediv").hide();
		$("#login").css('color','#f1a1a1');
		$("#create").css('color','#000');
		console.log("Login");
	});
	$("#loginSubmit").click(function(){
		var email = $("#logdiv").find(".ca").val();
		var pass = $("#logdiv").find(".cb").val();
		console.log(email, pass);
		$.ajax({
		  method: "POST",
		  url: "/login",
		  data: { password: pass, email: email }
		})
		  .done(function( msg ) {
			console.log(msg);
			if (msg=="Failure") alert("Login details incorrect!");
			else {
			
			window.location.replace('/dashboard');
			}
			 });		
	});
	$("#create").click(function(){
		$("#creatediv").show();
		$("#logdiv").hide();
		$("#create").css('color','#f1a1a1');
		$("#login").css('color','#000');
		console.log("Create");
	});
	$("#createSubmit").click(function(){
		var email = $("#creatediv").find(".ca").val();
		var pass = $("#creatediv").find(".cb").val();
		var name = $("#creatediv").find(".cc").val();
		var phone = $("#creatediv").find(".cd").val();
		$.ajax({
		  method: "POST",
		  url: "/create",
		  data: { username: name, password: pass, email: email, phoneno:phone }
		})
		  .done(function( msg ) {
			if (msg=="Failure") {
			alert("User record already exists.");
			$("#logdiv").show();
		$("#creatediv").hide();
		$("#login").css('color','#f1a1a1');
		$("#create").css('color','#000');
		console.log("Login");
		}
		else
			window.location.replace('/dashboard');
		  });		
	});
</script>
</html>
